.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-bottom: 1px solid #000000;
}

.navbar.scrolled {
  background-color: #1faee2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-brand a {
  font-size: 2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  color: #1faee2;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 0.3rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000000;
  transition: 0.3s;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #1faee2;
  font-size: 1.4rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #000000;
}

.navbar-buttons {
  margin-left: 2rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.primary-button {
  background-color: #1faee2;
  color: white;
  border: none;
}

.primary-button:hover {
  background-color: white;
  color: #1faee2;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: flex;
  }

  .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .navbar-buttons {
    margin-left: 0;
    margin-top: 1rem;
  }

  .button {
    font-size: 1.1rem;
    padding: 0.9rem 1.8rem;
  }
}